<div class="footer__accordion theme-accordion">
    <a href="#" data-target="footer_about" class="accordion-title">
        About Oye Happy
      {% comment %}
        <span class="icon">
            <span class="item-icon-close"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg></span>
            <span class="item-icon-open"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/></svg></span>
        </span>
      {% endcomment %}
    </a>
    <div id="footer_about" class="accordion-body">
      <div>
        <h5>About Oye Happy – India’s most innovative gifting company</h5>

        <p>Getting a gift for someone you love and watching their faces light up with joy is one of the best feelings in the world. The one who gets the gift is often more excited to see the reaction than the one opening it. And you’ll probably agree that a bunch of flowers or a gluten-free cake on such an occasion is just not enough. This is where Oye Happy comes in. We have gathered an extraordinary team of happiness scientists who work every day with a simple idea – to make gifting fun again. And how do we do that? We don’t source boring stuff toys and decorative items from whole-sellers. Instead, we create every gift idea – be it a 24-hour hamper, naming a star after your loved one or a prank glitter bomb – from scratch so that it ends up being as unique as your loved one.</p>

        <h5>Unique Gifts You Won’t Find Anywhere Else</h5>

        <p>Did you know that Unique Birthday Gifts is one of the highest searched keywords on the internet? To make sure that we take the ones who land on www.oyehappy.com by surprise, we have handcrafted over 500 unique gift ideas you won’t find anywhere else in the country. We spend hours ideating, days designing and weeks crafting the most creative range of Birthday Gifts and Anniversary Gifts, among others. Our creative approach to gifting has won us the love and loyalty of over 135,000 customers across India, the Tissot Innovation Award in 2018 and Top 10 Retailer of the Year Award in 2018.</p>

        <h5>Innovative Gifting Categories Introduced for the First Time in India</h5>

        <p>Back in the 90s, gifting meant cakes, flowers or cards. 30 years later, nothing much changed – until we stepped in. Oye Happy is the first in the country to introduce innovative product categories to evolve the traditional way of gifting. Our range of Naughty Gifts, for instance, has given Indians a choice to gift board games and first night hampers to their partner. For those who aren’t materialistic and are looking for eco-friendly gifts for mothers or elders, they can choose from our range of social gifts and donate to a cause on the special person’s behalf. We have introduced several innovations in greeting cards in the form of LED-equipped cards, musical cards, and interactive cards. Similarly, we have changed the concept of gift hampers by introducing several personalised gifts and concept-based ideas to keep your loved one surprised throughout the day, week or month.</p>

        <h5>Personalised Gifts for Every Relationship</h5>

        <p>When you get a gift for someone you truly care about, you don’t want the gesture to be forgotten the next day. Research proves that over 74% of people want their gift to be something the receiver has never seen before. After all, a gift that your loved one can otherwise easily purchase from the market tends to lose its emotional connect. To show that you’ve put thought behind choosing the right surprise, people prefer the gift to be personalised especially for that person alone. We understand. On www.oyehappy.com, you can personalise anything – be it a funny gift for a sister, a romantic gift for a fiance or a nostalgic gift for long-distance relationships.</p>

        <h5>Customised Gifts for Every Occasion</h5>

        <p>We understand the pressure of celebrating the first Valentine’s Day with your wife or being a Secret Santa to your boss on Christmas. We understand that the traditional rakhis are no more as appreciated by the social media generation as customisable photo rakhis or name rakhis. And if the occasion is one that happens once in a lifetime and special as the ring ceremony, then your engagement gift becomes as important as the ring itself. Today, a gift is no more just a societal obligation but a validation of your love and thoughtfulness. That’s why you will find our range of wedding gifts to be very different from our range of Valentine’s Day Gifts. Browse the website today and find this out for yourself.</p>
      
      	<h3>FAQS</h3>
      
      	<h5>Where can I find customized gifting options for loved ones?</h5>
      	<p>When everything else fails, place your trust in customized gifts to make your closed ones jump with joy. Visit Oye Happy for unique gifting options. You can choose from All About You, Mosaic Art, Best Mom Magnet, and many more exciting customized gifting options.</p>
      	<h5>Where can I get the trendiest gifts of the year?</h5>
      	<p>Trendiest gifts are those which your special one cherishes for a lifetime. Check out Oye Happy to find the trendiest gifting options for all occasions. You can choose from 2020 Mirror Card, Birthday Week Hamper, Dice and Spice, and plenty more!</p>
      	<h5>How can I make my loved ones feel special?</h5>
      	<p>Tired of gifting the same DIY card to your loved one? Go in for something thoughtful yet chic at the same time. Check out Oye Happy for an exclusive gifting range. Choose from Frame the date, 7 Days of Valentine, Crate Full Of Love, and plenty more!</p>
      	<h5>Where can I find virtual gifts for family and friends?</h5>
      	<p>Finding a gift for your loved one can be a task, especially when you’re miles apart from them. Worry not, we at Oye Happy have got you covered. You can check out our range of e-gifts and make your loved one’s day. Choose from Name A Star Online, Plant A Tree, 24 Hour Virtual Gift, and many more options.</p>
       </div> 
    </div>
</div>