
<div
  data-subsection
  data-section-id="{{ section.id }}"
  data-section-type="recently-viewed"
  data-product-id="{{ product.id }}">
  <div class="index-section index-section--sub-product">
    <div class="page-width">
      <header class="section-header">
        <div class="h3 section-header__title">Recently viewed Corporate</div>
      </header>
    </div>
 
    <div class="page-width page-width--flush-small">
      <div id="RecentlyViewedCorporate-{{ section.id }}"></div>
    </div>
   
  </div>
</div>

{% schema %}
  {
    "name": "Recently viewed corporate",
	"class":"recently_cls",
    "settings": [
      {
        "type": "paragraph",
        "content": "Recently viewed products are only visible when browsing outside of the editor"
      }
    ]
  }
{% endschema %}
